body {
    background-color: #fff;
    color: #000;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container {
    min-height: 100vh;
}

#header {
    min-height: 8vh;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 1px rgb(0 0 0 / 4%), 0 0 2px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 4%);
}
#logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

#logo-title p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
}

#nav-items-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

li {
    display: flex;
    align-items: center;
    margin: 0 25px 0 0;
    height: 32px;
    padding: 0 12px;
    border-radius: 4px;
    transition: 300ms ease-in-out;
}

li.hoverable:hover {
    background-color: #ebeef1;
    transition: 300ms ease-in-out;
}

a {
    color: #6b7280;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    color: #6b7280;
}

label {
    color: rgba(0,0,0,0.65);
}

.form-select {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding-left: 0;
}

.form-select.menu {
    background-color: #f7f7f7;
    margin-bottom: 16px;
}

.form-select:focus {
    border-color: #000;
    box-shadow: none;
}

#store-selection {
    min-height: 20vh;
    padding-top: 10vh;
}

#menu {
    padding-top: 15vh;
    min-height: 100vh;
}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px 10px;
}

.menu-card-title {
    font-size: 28px;
    font-weight: 500;
}

.menu-card-img {
    display: flex;
    justify-content: center;
}

.section-title {
    min-height: 10vh;
}

.section-content {
    min-height: 75vh;
}

.main-row {
    min-height: 60vh;
}

.btn-row {
    min-height: 15vh;
}

#menu-options {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#register {
    padding-top: 15vh;
    min-height: 100vh;
}

#active-order {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

#btns {
    min-height: 10vh;
}

.btn {
    background-color: rgba(0,0,0,0.85);
    border: none;
    color: #fff;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    transition: 300ms ease-out;
}

.btn:hover {
    color: #fff;
    transform: translateY(-5px);
    transition: 300ms ease-out;
}

#create-order-btn {
    display: flex;
    justify-content: center;
}

#place-order-btn {
    background-color: #008248;
    border-color: #008248;
}

#get-order-col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
    margin-top: 16px;
    font-size: 26px;
    font-weight: 500;
}

#main-order-info {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}

.order-total-section {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-info {
    display: flex;
}

.input-group-text, input[type=text] {
    height: 50px;
}

.input-group {
    align-content: center;
}

.form-control:focus {
    box-shadow: none;
    border-color: #008248;
}

span {
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

span#total {
    font-size: 26px;
    font-weight: 500;
}