<!DOCTYPE html>
<head>
    <title>Starbucks App</title>
</head>

<body>
    <div class="row">
        <div class="column">
            <!-- Starbucks Image -->
        </div>
        <div class="column">Menu</div>
    </div>
    <div class ="row"> <!--Menu Items-->
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
        <div class="column">
            
        </div>
    </div>
    
</body>